.footer {
    height: 400px;
    background: var(--background-color);
    padding-top: 40px;
}

.footerTextWrapper {
    width: 400px;
    height: 150px;
    margin: 0 auto;
    display: flex;
}

.footerTextDivider {
    width: 2px;
    background: white;
}

.footerText {
    width: 199px;
    color: var(--second-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    font-size: 14px;
}

.footerTextLeft {
    text-align: right;
    padding-right: 20px;
}

.footerTextRight {
    text-align: left;
    padding-left: 20px;
}

.bioLogoFooter {
    width: 200px;
    margin: 40px auto 0 auto;
    display: block;
}
