:root {
    --main-color: #8ab5e3;
    --main-text-color: white;
    --second-text-color:  #6d6d6d;
    --background-color: #c7eace;
    --background-color-light: #def2e2;
}

html {
    font-family: 'Roboto', Arial, sans-serif;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bioLogo {
    margin-left: 25px;
    height: 90px;
    width: auto;
}

.contactFormLink {
    margin-right: 25px;
    color: var(--main-color);
    cursor: pointer;
    text-transform: uppercase;
}

.imageWrapper {
    position: relative;
}

.bioPageHeaderWrapper {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #a5cdee;
}

.bioPageHeaderText {
    color: var(--main-text-color);
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}

.bioImage {
    width: 100%;
}

.danger {
    background: red;
}

.success {
    background: palegreen;
}

.hide {
    display: none !important;
}

.textBold {
    font-weight: bold;
}

.textItalic {
    font-style: italic;
}
