/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    .bioInfoTextWrapper {
        bottom: 40px;
    }
    .bioInfoText {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 8px;
    }
    .inputWrapper,
    .footerTextWrapper {
        width: 90%;
    }
    .footerText {
        width: calc(50% - 1px);
    }
}

/* Tablets (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .bioInfoTextWrapper {
        bottom: 30px;
    }
    .bioInfoText {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 8px;
    }
}

/*  Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    .bioInfoTextWrapper {
        bottom: 10px;
    }
    .bioInfoText {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 6px;
    }
    .bioInfoTextFooter {
        width: calc(90% - 20px);
    }
}

/* Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
    .bioPageHeaderText {
        font-size: 22px;
    }
    .bioInfoTextWrapper {
        flex-direction: column;
        bottom: 14px;
    }
    .bioInfoTextRightGroup {
        text-align: left;
    }
    .bioInfoTextRight {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        padding-right: 14px;
        padding-left: 50px;
    }
    .bioInfoText {
        font-size: 16px;
        margin-bottom: 14px;
        padding: 8px;
    }
    .inputWrapper,
    .footerTextWrapper {
        width: 90%;
    }
    .footerText {
        width: calc(50% - 1px);
    }
    .bioInfoTextFooter {
        width: calc(90% - 20px);
    }
}
